@font-face{
	font-family: 'Coalition';
	src: url(./fonts/Coalition.ttf) format(ttf)
}
@font-face{
	font-family: 'Prototype';
	scr: url(./fonts/Prototype.ttf) format(ttf);
}

.thumbnail {
	background-color: inherit;
}

.well {
	background-color: inherit;
}

.jumbotron{
	background-color: inherit;
}

.btn-default {
	background-color: #555555;
	color: #ffffff;
}

body {
	font-family: "Prototype", Arial, Sans-serif;
	font-size: 20px;
	background-image: url(../images/backgroundimage.png);
}

.btn-success {
	float: right;
}

h1 {
	font-family: "Coalition", Arial, Sans-serif;
	font-size: 48px;
	border-bottom: 7px solid #000000;
}

h2 {
	font-family: "Coalition", Arial, Sans-serif;
	font-size: 48px;
}

h3 {
	font-family: "Coalition", Arial, Sans-serif;
	font-size: 36px;
}

h4 {
	font-family: "Coalition", Arial, Sans-serif;
	font-size: 24px;
}

.date {
	float: right;
	font-family: "Coalition", Arial, Sans-serif;
	font-size: 24px;
}

.footer {
	padding: 1em 0 5em 0;
	font-size: 92%;
	text-align: center;
}

.footer p {
	margin-bottom: 0;
	text-align: center;
}

img {
	height: 25px;
	width: 25px;
	margin: 0px 5px;
}